<!DOCTYPE html>
<html>
<head>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

	<script>
	
	function post_it(){
		$.ajax({
					url: '/change',
					data: {'txt': $('#txt').val()},
					type: 'POST',
					success: function(response) {
						console.log(response);
						parent.right.location.reload();
					},
					error: function(error) {
						console.log(error);
					}
		});
	}
	$(document).ready(function(){
		
			$("#run").click(post_it)	
			
			
			$("#txt").on("keydown", function(e){
				if(e.keyCode == 13 && e.shiftKey){
					post_it()
					return false;
				}
			})

	});
	</script>

</head>

<body>
	<textarea id='txt' style="width:100%;" rows=40 spellcheck="false">{{text}}</textarea>

</body>
</html>	