<!DOCTYPE html>
<html>
<head>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

	<script>
	"use strict"
	function test(){
		alert('test')
	}
	
	function getCaretPosition(textBox) {

		var caretPosition = 0;

		// Firefox, Chrome, IE9~ Support
		if(textBox.selectionStart || textBox.selectionStart == '0') {
			caretPosition = textBox.selectionStart;
		}

    return caretPosition;
}

	function replaceTab(){
			//https://djkeh.github.io/articles/Typing-tab-key-inside-textarea-using-javascript/
			var textBox = 	document.activeElement

			//var textBox = document.getElementById('txt_html')
			var caretPosition = getCaretPosition(textBox)
			
			var preText = textBox.value.substring(0, caretPosition);
			var postText = textBox.value.substring(caretPosition, textBox.value.length);

			var var_tab_replacement = "    "
			textBox.value = preText + var_tab_replacement + postText
			var len_replacement = var_tab_replacement.length

			textBox.focus();
			textBox.setSelectionRange(caretPosition + len_replacement, caretPosition + len_replacement)
	
	}
	
	function on_ready(e){
		$("#run").click( post_it )
		$("#txt_html").on("keydown", shortcut)
		$("#txt_js").on("keydown", shortcut)
	}
	
	function shortcut(e){
		if(e.keyCode == 13 && e.shiftKey){
			post_it()
			return false
		}
		
		//disable tab
		if(e.keyCode == 9){
			replaceTab()

			return false
		}

	}
	
	function post_it(){
		var txt_html = $('#txt_html').val()
		var txt_js = $('#txt_js').val()
		var msg = {
					url: '/change',
					data: {
					'txt_html': txt_html,
					'txt_js': txt_js,
					},
					type: 'POST',
					success: function(response) {
			
					parent.window.location.reload(true)
					},
					error: function(error) {
						console.log(error);
					}
		}
		$.ajax(msg)
	}
	
	$(document).ready(on_ready)
	</script>

</head>

<body>
	<button id="run">Run</button>
	<textarea id='txt_html' style="width:100%;" rows=30 spellcheck="false">{{txt_html}}</textarea>
	<textarea id='txt_js' style="width:100%;" rows=30 spellcheck="false">{{txt_js}}</textarea>
</body>
</html>	