<!DOCTYPE html>
<html lang="en">
<head>
<title>ACE in Action</title>





</head>

<body>
<a href='/' target='_top'>top</a>
<button onclick='run()'>Run</button>
<div id="edit_html" ></div>
<br>
<div id="edit_js" ></div>
    
<script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.4.6/ace.js" type="text/javascript" charset="utf-8"></script>
<script>
/* jshint asi:true */
	class Editor{
		constructor(div_id, file_type,width, height){
			document.getElementById(div_id).style.width= width
			document.getElementById(div_id).style.height= height
			this._editor = ace.edit(div_id)
			this._editor.session.setMode("ace/mode/" + file_type)
			this._editor.setOptions({fontSize: "10pt"})
		}
		
		loadFile(url){
			fetch(url)
				.then(x => x.text())
				.then(x => this._editor.setValue(x, -1)) // -1 set cursor to start
		}
		
		postText(url, para){
			var text = this._editor.getValue()
			var xhr = new XMLHttpRequest()

			xhr.open('POST', url)
			xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded')
			xhr.onload = function() {
					if (xhr.status === 200) {
						console.log(xhr.responseText)
					}
					else {
						alert('Request failed.  Returned status of ' + xhr.status);
					}
			}
			
			xhr.send(encodeURI('file=' + para + '&text=' + text));
			}
	
	}
	
	var edit_html = new Editor('edit_html', 'html', "100%", "500px")
	edit_html.loadFile('/apps/{{appname}}/{{appname}}.html')
	
	var edit_js = new Editor('edit_js', 'javascript', "100%", "500px")
	edit_js.loadFile('/apps/{{appname}}/{{appname}}.js')
	
	function run(){
		edit_html.postText('/change', 'apps/{{appname}}/{{appname}}.html')
		edit_js.postText('/change', 'apps/{{appname}}/{{appname}}.js')
		parent.location.reload()
	}

</script>
</body>
</html>